<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheet/app.css">
</head>
<body>

    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="code icon"></i> Blog site</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>
            <div class="right menu">
                <%if(!loggedInUser){ %> 
                    <a href="/signup" class="item">Sign up</a>
                    <a href="/login" class="item">Login</a>
                <%}else{ %> 
                    
                    <a href="/user/<%= loggedInUser.id %>" class="item"><%= loggedInUser.username %> </a>
                    <a href="/logout" class="item">logout</a>
                <%} %> 
            </div>
            
        </div>     
    </div>


    <div class="ui main text container">
        <% if(success.length>0){ %> 
            <div class="ui green message"><%= success %> </div>
        <%} %> 
        <% if(error.length>0){ %> 
            <div class="ui red message"><%= error %> </div>
        <% } %> 
    </div>
    
    