i.icon{
    font-size:2em;
}

.container.main{
    margin-top: 7em;
}

#delete {
    display: inline;
}
#delete_comment {
    display: inline;
}
#delete_comment button{
    padding: 0;
    border:none;
}
ul{
    list-style-type: none;
}
li{
    padding-left:2em;
}
