<%- include ('partials/header') %> 

<div class="ui main text container segment">
    <div class="ui huge header">Sign Up</div>
    
    <form class="ui form" action="/signup" method="post">
      <div class="field">
        <label>User Name</label>
        <input type="text" name="username" placeholder="user name">
      </div>
      <div class="field">
        <label>password</label>
        <input type="password" name="password" placeholder="Last Name">
      </div>
      <button class="ui button" type="submit">sign up</button>
    </form>
    
</div>

<%- include ('partials/footer') %>
